<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastHistoryRowId</key>
	<integer>569</integer>
	<key>LibraryBuildTag</key>
	<string>76414C74-2BEF-494A-89A7-E673029C513E</string>
	<key>LibrarySchemaVersion</key>
	<integer>1801</integer>
</dict>
</plist>
